; {{ ansible_managed }}

[PHP]
error_reporting = {% if php7_production is defined and php7_production %}E_ALL & ~E_DEPRECATED & ~E_STRICT{% else %}E_ALL{% endif %}
display_errors = {% if php7_production is defined and php7_production %}Off{% else %}On{% endif %}
display_startup_errors = {% if php7_production is defined and php7_production %}Off{% else %}On{% endif %}
max_execution_time = {{ php7_max_execution_time }}
max_input_time = {{ php7_max_input_time }}
max_input_vars = {{ php7_max_input_vars }}
memory_limit = {{ php7_memory_limit }}
post_max_size = {{ php7_post_max_size }}
sendmail_path = {{ php7_sendmail_path }}
session.save_path = {{ php7_session_save_path }}
track_errors = {% if php7_production is defined and php7_production %}Off{% else %}On{% endif %}
upload_max_filesize = {{ php7_upload_max_filesize }}
max_file_uploads = {{ php7_max_file_uploads }}
expose_php = {% if php7_production is defined and php7_production|bool %}Off{% else %}On{% endif %}
date.timezone = {{ php7_etc_timezone.content | b64decode | trim }}
default_charset = "{{ php7_default_charset }}"

[mysqlnd]
mysqlnd.collect_memory_statistics = Off

[opcache]
opcache.enable = {{ php7_opcache_enable }}
opcache.enable_cli = {{ php7_opcache_enable_cli }}
opcache.memory_consumption = {{ php7_opcache_memory_consumption }}
opcache.interned_strings_buffer = {{ php7_opcache_interned_strings_buffer }}
opcache.max_accelerated_files = {{ php7_opcache_max_accelerated_files }}
opcache.revalidate_freq = {{ php7_opcache_revalidate_freq }}
opcache.fast_shutdown = {{ php7_opcache_fast_shutdown }}
